@model IEnumerable<CMS.Data.Entities.OrderDetail>
<div class="container mt-4">
    <h2 class="text-info mb-3">BÀI TẬP 7: CHI TIẾT CÁC HÓA ĐƠN</h2>
    <table class="table table-bordered table-hover shadow-sm">
        <thead class="table-info text-dark">
            <tr>
                <th>ID</th>
                <th>Mã Đơn Đặt</th>
                <th>Mã Sản Phẩm</th>
                <th>Số Lượng Mua</th>
                <th>Đơn Giá</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var od in Model)
            {
                <tr>
                    <td>@od.Id</td>
                    <td>Đơn hàng #@od.OrderId</td>
                    <td>Sản phẩm #@od.ProductId</td>
                    <td>@od.Quantity</td>
                    <td>@od.UnitPrice.ToString("#,##0") đ</td>
                </tr>
            }
        </tbody>
    </table>
</div>